<div class="p-4">
<h4 class="fst-italic"> Categories</h4>
<ol class="list-unstyled mb-0">
<li>
    <a class="text-decoration-none" href="#">Tutoriel C#</a>
</li>
<li>
    <a class="text-decoration-none" href="#">Tutoriel Symfony6</a>
</li>
</ol>
</div>